<section class="section">

  <header>
    <h2 class="section-title">{ {{techparty}} {{year}} }</h2>
  </header>

  {{#if messages}}
    <section class="message">
      {{#if messages.info}}
        <div class="message-info">
          <p>{{messages.info}}</p>
        </div>
      {{/if}}

      {{#if messages.error}}
        <div class="message-error">
          <p>{{messages.error}}</p>
        </div>
      {{/if}}
    </section>
  {{/if}}

  <article>
    <p>Este site foi criado com o propósito de alunos, professores, ou qualquer ser vivo que goste de tecnologia, e que possam nos ajudar fazer da {{techparty}} {{year}} o melhor evento de todos os tempos.</p>
    <p>Mas como? o.O</p>
    <p>Através dele, você pode nos ajudar a escolher os temas para a {{techparty}} {{year}}. Basta escolher um ou mais dos assuntos já listados ou adicionar sua própria sugestão.</p>
    <p>{{techparty}} 2014 já foi um sucesso, nos ajude a fazer da {{techparty}} {{year}} um sucesso ainda maior.</p>
  </article>
</section>

<section class="section">
  <p>Use o formulário abaixo para escolher assuntos para a próxima {{techparty}}.</p>

  <form action="./submit" method="post" id="form">
    <div class="suggestion">
      {{#each suggestions}}
        <p>
          <input type="checkbox" name="opt[{{name}}]" id="{{name}}">
          <label for="{{name}}">{{value}}</label>
        </p>
      {{/each}}
    </div>

    <p>
      <label class="required" for="username">Nome</label> <br>
      <input type="text" required name="opt[username]" id="username">
    </p>

    <p>
      <label class="required" for="useremail">Email</label> <br>
      <input type="email" required name="opt[useremail]" id="useremail">
    </p>

    <button type="submit">Enviar</button>
  </form>

</section>