<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TechParty - 2015</title>

  <link rel="shortcut icon" href="images/tech-party.png" type="image/x-icon">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="content">
    
    <header class="wrapper header">
      <h1 class="logo-h1">
        <a href="./" title="TechParty Faccat">
          <img class="logo" src="images/tech-party.png" alt="TechParty Faccat">
        </a>
      </h1>

      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Rating</a></li>
        </ul>
      </nav>
    </header>

    <main role="main" class="wrapper main">
      <section class="section">
        <header>
          <h2 class="section-title">{TechParty}</h2>
        </header>

        <article>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel amet asperiores laboriosam ad labore rem ab natus neque dolore illum velit ratione est esse veniam libero quis ipsam nobis similique aut. Qui, eaque iste quam modi expedita eos praesentium deserunt ipsa! Alias, quaerat in iusto molestiae. Voluptatibus, voluptas, obcaecati!
        </article>
      </section>

      <section class="section">
        <p>Use o formulário abaixo para escolher assuntos para a próxima TechParty.</p>

        <form action="./submit" method="post" id="form">
          <p>
            <input type="checkbox" name="opt[rwd]" id="opt-1">
            <label for="opt-1">Responsive Web Design</label>
          </p>

          <p>
            <input type="checkbox" name="opt[preprocessadores]" id="opt-2">
            <label for="opt-2">Pré-processadores CSS</label>
          </p>

          <p>
            <input type="checkbox" name="opt[html5]" id="opt-3">
            <label for="opt-3">HTML 5</label>
          </p>

          <p>
            <input type="checkbox" name="opt[javascript]" id="opt-4">
            <label for="opt-4">Javascript</label>
          </p>

          <p>
            <input type="checkbox" name="opt[ios]" id="opt-5">
            <label for="opt-5">Desenvolvimento para iOS</label>
          </p>

          <p>
            <input type="checkbox" name="opt[android]" id="opt-6">
            <label for="opt-6">Desenvolvimento para Android</label>
          </p>

          <p>
            <input type="checkbox" name="opt[performance]" id="opt-7">
            <label for="opt-7">Performance</label>
          </p>

          <p>
            <input type="checkbox" name="opt[startups]" id="opt-8">
            <label for="opt-8">Startups</label>
          </p>

          <p>
            <input type="checkbox" name="opt[github]" id="opt-9">
            <label for="opt-9">Github</label>
          </p>

          <p>
            <input type="checkbox" name="opt[webgl]" id="opt-10">
            <label for="opt-10">WebGL</label>
          </p>

          <p>
            <input type="checkbox" name="opt[midiassociais]" id="opt-11">
            <label for="opt-11">Mídias Sociais</label>
          </p>

          <p>
            <input type="checkbox" name="opt[jquery]" id="opt-12">
            <label for="opt-12">jQuery</label>
          </p>

          <p>
            <input type="checkbox" name="opt[htmlapi]" id="opt-13">
            <label for="opt-13">APIs de HTML5</label>
          </p>

          <p>
            <label for="opt-other">Outra sugestão?</label> <br>
            <textarea name="" id="opt-other"></textarea>
          </p>

          <p>
            <label for="opt-name">Nome</label> <br>
            <input type="text" name="" id="opt-name">
          </p>

          <p>
            <label for="opt-email">Email</label> <br>
            <input type="email" name="" id="opt-email">
          </p>

          <button type="submit">Enviar</button>
        </form>

      </section>
    
    </main>

    <footer class="wrapper footer">
      <small>TechParty - <a href="http://techparty.faccat.br/">techparty.faccat.br</a></small>
    </footer>

    <!--<a class="github-link" target="_blank" href="https://github.com/danielrohers/techpartyfaccat">
      <img src="images/forkme.png" alt="Fork me on GitHub">
    </a>-->
  </div> <!-- /wrapper -->


  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49229655-2', 'techpartyfaccat.herokuapp.com');
    ga('send', 'pageview');
  </script>
</body>
</html>