<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TechParty - {{year}}</title>

  <link rel="shortcut icon" href="images/tech-party.png" type="image/x-icon">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="content">
    
    <header class="wrapper header">
      <h1 class="logo-h1">
        <a href="./" title="{{techparty}} Faccat">
          <img class="logo" src="images/tech-party.png" alt="{{techparty}} Faccat">
        </a>
      </h1>

      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Rating</a></li>
        </ul>
      </nav>
    </header>

    <main role="main" class="wrapper main">
      <section class="section">
        <header>
          <h2 class="section-title">{ {{techparty}} {{year}} }</h2>
        </header>

        <article>
          <p>Este site foi criado com o propósito de alunos, professores, ou qualquer ser vivo que goste de tecnologia, possa nos ajudar fazer da {{techparty}} {{year}} o melhor evento de todos os tempos.</p>
          <p>Mas como? o.O</p>
          <p>Através dele, você nos ajuda a escolher os temas para a {{techparty}} {{year}}. Basta escolher um ou mais dos assuntos já listados ou adicionar sua própria sugestão.</p>
          <p>{{techparty}} 2014 já foi um sucesso, nos ajude a fazer da {{techparty}} {{year}} um sucesso ainda maior.</p>
        </article>
      </section>

      <section class="section">
        <p>Use o formulário abaixo para escolher assuntos para a próxima {{techparty}}.</p>

        <form action="./submit" method="post" id="form">
          <div class="suggestion">
            {{#each suggestions}}
              <p>
                <input type="checkbox" name="opt[{{name}}]" id="{{name}}">
                <label for="{{name}}">{{value}}</label>
              </p>
            {{/each}}
          </div>

          <p>
            <label for="opt-other">Outra sugestão?</label> <br>
            <textarea name="" id="opt-other"></textarea>
          </p>

          <p>
            <label class="required" for="opt-name">Nome</label> <br>
            <input type="text" required name="opt[username]" id="opt-name">
          </p>

          <p>
            <label class="required" for="opt-email">Email</label> <br>
            <input type="email" required name="opt[useremail]" id="opt-email">
          </p>

          <button type="submit">Enviar</button>
        </form>

      </section>
    
    </main>

    <footer class="wrapper footer">
      <small>{{techparty}} - <a href="http://techparty.faccat.br/">techparty.faccat.br</a></small>
    </footer>

    <!--<a class="github-link" target="_blank" href="https://github.com/danielrohers/techpartyfaccat">
      <img src="images/forkme.png" alt="Fork me on GitHub">
    </a>-->
  </div> <!-- /wrapper -->


  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49229655-2', 'techpartyfaccat.herokuapp.com');
    ga('send', 'pageview');
  </script>
</body>
</html>