<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{techparty}} - {{year}}</title>

  <link rel="shortcut icon" href="images/tech-party.png" type="image/x-icon">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <a href="https://github.com/techparty/techparty-suggestion" target="_blank">
    <img class="github-link github-link-left" src="images/forkme-left.png" alt="Fork me on GitHub">
  </a>

  <div class="content">
    
    <header class="wrapper header">
      <h1 class="logo-h1">
        <a href="./" title="{{techparty}} Faccat">
          <img class="logo" src="images/tech-party.png" alt="{{techparty}} Faccat">
        </a>
      </h1>

      <nav>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/rating">Rating</a></li>
          <li><a href="/quero-palestrar">Quero palestrar</a></li>
        </ul>
      </nav>
    </header>

    <main role="main" class="wrapper main">
      
      {{{body}}}
    
    </main>

    <footer class="wrapper footer">
      <p>
        <small>
          Ficou com alguma dúvida? Tem alguma sugestão? Entre em contato através dos emails abaixo! <br>
          Fernando Porazzi - <a href="mailto:fporazzi46@gmail.com">fporazzi46@gmail.com</a> <br>
          Daniel Röhers Moura -<a href="mailto:rohersmoura@gmail.com">rohersmoura@gmail.com</a> <br>
          Marcelo Azambuja - <a href="mailto:azambuja@faccat.br">azambuja@faccat.br</a>
        </small>
      </p>
      <small>{{techparty}} - <a href="http://techparty.faccat.br/">techparty.faccat.br</a></small>
    </footer>

    <!--<a class="github-link" target="_blank" href="https://github.com/danielrohers/techpartyfaccat">
      <img src="images/forkme.png" alt="Fork me on GitHub">
    </a>-->
  </div> <!-- /wrapper -->


  <script type="text/javascript" src="javascripts/main.js"></script>
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49229655-2', 'techpartysuggestion.herokuapp.com');
    ga('send', 'pageview');
  </script>

</body>
</html>