<section class="section">
  
  <header>
    <h2>Quer palestrar na {{techparty}} {{year}}?</h2>

    <p>
      Nós temos um lugar reservado para você se cadastrar. <br>  
      Preencha os campos abaixo e logo entraremos em contato.
    </p>
  </header>

  <section>
    <form action="./submit-speaker" method="post">
      <div class="form-column">
        <p>
          <label for="speaker-name" class="required">Nome</label> <br>
          <input type="text" required name="speaker-name" id="speaker-name" class="input-1">
        </p>

        <p>
          <label for="speaker-email" class="required">Email</label> <br>
          <input type="email" required name="speaker-email" id="speaker-email" class="input-1">
        </p>
      </div>

      <div class="form-column">
        <p>
          <label for="speaker-desc" class="required">Descrição da palestra</label> <br>
          <textarea name="speaker-desc" required id="speaker-desc" class="input-1"></textarea>
        </p>

        <p>
          <button type="submit" class="speaker-submit">Enviar</button>
        </p>
      </div>
    </form>
  </section>

</section>