/*
*
*   RESET
*
*/

html, 
body,
h1, h2, h3, h4,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

body {
  font-family: tahoma;
  color: #444;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.github-link {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.content {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  float: left;
}

.footer {
  margin: 20px 0;
}

.logo {
  float: left;
}

.nav {
  float: right;
  margin-top: 30px;
}

.nav li {
  float: left;
  margin-left: 30px;
}

.section {
  margin-top: 30px;
}

.section-title {
  font-size: 35px;
  margin-bottom: 30px;
}

#opt-other {
  height: 150px;
  width: 300px;
}

@media only screen and (min-width : 320px) and (max-width: 567px) {
  .logo-h1 {
    text-align: center;
    width: 100%;
  }
  
  .nav {
    width: 100%;
  }

  .nav li {
    margin: 0 30px 0 0;
  }

  #opt-other {
    width: 100%;
  }
}

@media only screen and (min-width : 568px) and (max-width: 767px) {

}

@media only screen and (min-width : 768px) and (max-width: 1023px) {

}

@media only screen and (min-width : 1024px) and (max-width: 1499px) {

}


@media only screen and (min-width : 1500px) {

}